    // hint:A0E5F382
    override fun mergeEntity(other: Entity?): {{entityName}} {
        return when (other) {
            null ->
                this

            is {{entityName}} ->
                merge(other)

            else ->
                TODO()
        }
    }

{{#companion}}
    // hint:D6150566
    fun mergeFields(other: {{entityName}}): {{entityName}} {
        return copy(
            __field_order = Fields.cleanupFields(this.__field_order + other.__field_order),
        ).updateFields()
    }

{{/companion}}
    // hint:716BFD54
    fun merge(other: {{baseTypeOrEntityName}}?): {{entityName}} {
        if (other == null) return this
{{#baseType}}
        if (other !is {{entityName}}) TODO()
{{/baseType}}
        return this
{{#fields}}
{{^field.fixed}}
            .merge{{name.uppercase}}Field(other.{{name.underscore}})
{{/field.fixed}}
{{/fields}}
{{#companion}}
            .mergeFields(other)
{{/companion}}
    }